<!-- <header class="column text-justified" *ngIf="misc$ | async as misc" [innerHTML]="sanitizer.bypassSecurityTrustHtml(misc?.header?.content || '')"></header> -->
<header class="site-header">
    <div class="wrap">
        <div class="title-area">
            <h1 class="site-title"><a href="#" *ngIf="misc$ | async as misc" [innerHTML]="sanitizer.bypassSecurityTrustHtml(misc?.header?.content || '')"></a></h1>
        </div>
    </div>
</header>
<bc-nav-bar (onNavbarReady)="navbarReady($event)"></bc-nav-bar>
