<!-- <header class="column text-justified" *ngIf="misc$ | async as misc" [innerHTML]="sanitizer.bypassSecurityTrustHtml(misc?.header?.content || '')"></header> -->
<header class="site-header">
    <div class="wrap">
        <div class="title-area">
            <h1 class="site-title"><a href="https://demo.studiopress.com/outreach/" *ngIf="misc$ | async as misc" [innerHTML]="sanitizer.bypassSecurityTrustHtml(misc?.header?.content || '')"></a></h1>
        </div>
    </div>
</header>
<!-- <bc-nav-bar></bc-nav-bar> -->
<ul>
  <li class="text" *ngFor="let item of menu$ | async">
    {{item.name}}
  </li>
</ul>
