<!-- <div class="sub-footer">
    <div class="wrap">
        <div class="sub-footer-left">
            <section id="featured-page-3" class="widget featured-content featuredpage">
                <div class="widget-wrap">
                    <article class="post-469 page type-page status-publish entry">
                        <header class="entry-header">
                            <h2 class="entry-title" itemprop="headline"><a href="https://demo.studiopress.com/outreach/welcome-to-outreach/">Welcome
                                    to Outreach</a></h2>
                        </header>
                        <div class="entry-content">
                            <p>This is an example of a WordPress page, you could edit this to put information about yourself or your site
                                so readers know where you are coming from. You can create as many pages like this one or sub-pages as you
                                like and manage all of your content inside of WordPress. This is an example &#x02026; <a href="https://demo.studiopress.com/outreach/welcome-to-outreach/"
                                    class="more-link">Read More</a></p>
                        </div>
                    </article>
                </div>
            </section>
        </div>
        <div class="sub-footer-right">
            <section id="text-3" class="widget widget_text">
                <div class="widget-wrap">
                    <h4 class="widget-title widgettitle">About Outreach</h4>
                    <div class="textwidget">This is an example of a WordPress text widget, you could edit this widget to put
                        information about yourself. <a href="#">Read More &raquo;</a></div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="footer-widgets">
    <div class="wrap">
        <div class="widget-area footer-widgets-1 footer-widget-area">
            <section id="text-4" class="widget widget_text">
                <div class="widget-wrap">
                    <h4 class="widget-title widgettitle">Our Senior Pastor</h4>
                    <div class="textwidget">
                        <p>This is an example of a widget which can be used to describe a product or a service that your business
                            offers.</p>
                        <p><a href="#">Read More »</a></p>
                    </div>
                </div>
            </section>
        </div>
        <div class="widget-area footer-widgets-2 footer-widget-area">
            <section id="text-5" class="widget widget_text">
                <div class="widget-wrap">
                    <h4 class="widget-title widgettitle">Mission Statement</h4>
                    <div class="textwidget">
                        <p>This is an example of a widget which can be used to describe a product or a service that your business
                            offers.</p>
                        <p><a href="#">Read More »</a></p>
                    </div>
                </div>
            </section>
        </div>
        <div class="widget-area footer-widgets-3 footer-widget-area">
            <section id="text-6" class="widget widget_text">
                <div class="widget-wrap">
                    <h4 class="widget-title widgettitle">Connect With Us</h4>
                    <div class="textwidget">
                        <p>This is an example of a widget which can be used to describe a product or a service that your business
                            offers.</p>
                        <p><a href="#">Read More »</a></p>
                    </div>
                </div>
            </section>
        </div>
        <div class="widget-area footer-widgets-4 footer-widget-area">
            <section id="enews-ext-3" class="widget enews-widget">
                <div class="widget-wrap">
                    <div class="enews">
                        <h4 class="widget-title widgettitle">Newsletter</h4>
                        <form id="subscribeenews-ext-3" action="post" method="post" target="_blank" onsubmit="if ( subbox1.value == 'First Name...') { subbox1.value = ''; } if ( subbox2.value == 'Last Name...') { subbox2.value = ''; }" name="enews-ext-3">
                            <label for="subbox" class="screenread">Enter your email address...</label><input type="email" value="" id="subbox" placeholder="Enter your email address..." name="" required="required">
                            <input type="submit" value="Go" id="subbutton">
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div> -->
<!-- <footer class="column text-justified" *ngIf="misc$ | async as misc" [innerHTML]="sanitizer.bypassSecurityTrustHtml(misc?.footer?.content || '')"></footer> -->
<footer class="site-footer" itemscope itemtype="https://schema.org/WPFooter">
    <div class="wrap">
        <p *ngIf="misc$ | async as misc" [innerHTML]="sanitizer.bypassSecurityTrustHtml(misc?.footer?.content || '')"></p>
    </div>
</footer>
