<div class="admin-content">
  <a [routerLink]="['/admin/menu-list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Manage
      Menu</a>
  <a [routerLink]="['/admin/sub-menu-list']" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Manage Sub Menu</a>
  <a [routerLink]="['/admin/misc-edit/header']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Manage
      Header</a>
  <a [routerLink]="['/admin/misc-edit/footer']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Manage
      Footer</a>
  <a [routerLink]="['/admin/blog-list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Manage
    Blog</a>
</div>
