<nav class="nav-primary">
  <!-- <div class="wrap"> -->
  <label for="show-menu" class="show-menu">Show Menu</label>
  <input type="checkbox" [checked]="showNav" id="show-menu" (change)="showNav = !showNav" role="button">
  <ul id="menu">
    <li *ngFor="let menu of getTopMenu()">
      <a *ngIf="menu.items?.length<=0" (click)="changeRoute(menu)" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">{{menu.name}}</a>
      <a *ngIf="menu.items?.length>0" href="#">{{menu.name}} ￬</a>
      <ul class="hidden" *ngIf="menu.items?.length>0">
        <li *ngFor="let subMenu of menu.items">
            <a (click)="changeSubRoute(menu, subMenu)" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
              {{subMenu.name}}
            </a>
        </li>
      </ul>
    </li>
    <li *ngIf="(getUser() | async)?.uid">
      <a (click)="adminRoute()" [routerLink]=" ['./admin'] "  routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Admin</a>
      <ul class="hidden">
          <li><a [routerLink]="['/admin/menu-list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Manage
            Menu</a></li>
            <li><a [routerLink]="['/admin/sub-menu-list']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Manage Sub Menu</a></li>
            <li><a [routerLink]="['/admin/misc-edit/header']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Manage
            Header</a></li>
            <li><a [routerLink]="['/admin/misc-edit/footer']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Manage
            Footer</a></li>
            <li><a [routerLink]="['/admin/blog-list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Manage
          Blog</a></li>
        </ul>
    </li>

    <li *ngIf="(getUser() | async)?.uid">
      {{(getUser() | async)?.email}}
    </li>
    <li *ngIf="(getUser() | async)?.uid">
      <a (click)="logout()" [routerLink]=" ['./home'] "  routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Logout</a>
    </li>
  </ul>
  <!-- </div> -->
</nav>
