<div class="admin-content">
  <div *ngIf="theUser" class="top-bar-right">
    <ul class="menu">
      <li class="admin-menu"><a (click)="logout()">Logout</a></li>
      <li class="admin-menu">
        <a> {{ theUser }} Logged in</a>
      </li>
    </ul>
  </div>
</div>
<div class="admin-content">
  <a
    class="btn btn-secondary"
    routerLink="/admin/blog-add"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Add Post</a
  >
  <a
    class="btn btn-secondary"
    (click)="chooseMode('')"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Manage Blogs</a
  >
  <table>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Order</th>
      <th>Enable</th>
      <th>Highlight</th>
      <th>&nbsp;</th>
    </tr>
    <tr *ngFor="let post of blogPosts">
      <td>
        <a
          class="btn btn-secondary"
          routerLink="/admin/blog-edit/{{ post.id }}"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ post.title.trim() === "" ? "no title" : post.title }}
        </a>
      </td>
      <td>{{ post.author }}</td>
      <td>{{ post.order }}</td>
      <td>{{ post.enable }}</td>
      <td>{{ post.ontop }}</td>
      <td>
        <button class="btn btn-link" (click)="deletePost(post)">Delete</button>
      </td>
    </tr>
  </table>
</div>
