<div class="admin-content">
    <form [formGroup]="editorForm">
        <div>
            Edit {{mode}}
        </div>
        <div>
            <quill-editor [style]="editorStyle" [modules]="modules" (onContentChanged)="maxLength($event)"
                (onEditorCreated)="editorCreated($event)" formControlName="content"></quill-editor>
        </div>
        <div>
            <button type="button" (click)="update()">Update {{mode}}</button>
            <button type="button" (click)="cancel()">Cancel Edit</button>
        </div>
    </form>
</div>
