<div class="admin-content">
    <div *ngIf="theUser" class="top-bar-right">
        <ul class="menu">
            <li class="admin-menu"><a (click)="logout()">Logout</a></li>
            <li class="admin-menu"><a> {{theUser}} Logged in</a></li>
        </ul>
    </div>
</div>

<div class="admin-content">
  <a class="btn btn-secondary" routerLink="/admin/menu-add" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Add Menu</a>
  <table>
      <tr>
          <th>Name</th>
          <th>Enable</th>
          <th>Order</th>
          <th>&nbsp;</th>
      </tr>
      <tr *ngFor="let menu of nav">
          <td>
            <a class="btn btn-secondary"
              routerLink="/admin/menu-edit/{{menu.id}}"
              routerLinkActive="active"
              [routerLinkActiveOptions]= "{exact: true}">
              {{ menu.name.trim() === '' ? 'no name' : menu.name}}
            </a>
          </td>
          <td>{{menu.enable}}</td>
          <td>{{menu.order}}</td>
          <td><button class="btn btn-link" (click)="deleteNav(menu)">Delete</button></td>
      </tr>
  </table>
</div>
