<div class="admin-content">
    <div *ngIf="theUser" class="top-bar-right">
        <ul class="menu">
            <li class="admin-menu"><a (click)="logout()">Logout</a></li>
            <li class="admin-menu"><a> {{theUser}} Logged in</a></li>
        </ul>
    </div>
</div>

<div [ngSwitch]="menuChoice" class="admin-content">
    <a class="btn btn-secondary" routerLink="/admin/menu-add" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Add Menu</a>
    <a class="btn btn-secondary" (click)="chooseMode('')" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Manage Menu</a>
    <div *ngSwitchCase="'add'">
        <add-menu (saveComplete)="onSaveComplete()"></add-menu>
    </div>
    <div *ngSwitchCase="'edit'">
        <div *ngIf='singleMenu'>
            <edit-menu (saveComplete)="onSaveComplete()" [theMenu]="singleMenu"></edit-menu>
        </div>
    </div>
    <div *ngSwitchDefault>
        <table>
            <tr>
                <th>Name</th>
                <th>Enable</th>
                <th>Order</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            <tr *ngFor="let menu of nav">
                <td>{{menu.name}}</td>
                <td>{{menu.enable}}</td>
                <td>{{menu.order}}</td>
                <td><button class="btn btn-link" (click)="editNav(menu)">Edit</button></td>
                <td><button class="btn btn-link" (click)="deleteNav(menu)">Delete</button></td>
            </tr>
        </table>
    </div>
</div>