/* .top-bar-title{
    font-size: 22px;
    color: #000;
}

.admin-menu a {
    color: #000;
}

.mini-img {
    height: 100px;
    width: 100px;
}

.spacer {
    padding-top: 20px;
    border-top: solid 1px #000000;
} */