<div class="admin-content">
    <!-- <div class="top-bar-title">BPC Admin area</div> -->

    <!-- <div class="top-bar-left">
        <ul class="menu">
            <li class="admin-menu"><a (click)="chooseMode('add')">Add Menu</a></li>
            <li *ngIf = "menuChoice" class="admin-menu"><a (click)="chooseMode('')">Manage Menu</a></li>
            <li class="admin-menu"><a [routerLink]="['/admin']">Back to Admin</a></li>
        </ul>
    </div> -->
    <div *ngIf="theUser" class="top-bar-right">
        <ul class="menu">
            <li class="admin-menu"><a (click)="logout()">Logout</a></li>
            <li class="admin-menu"><a> {{theUser}} Logged in</a></li>
        </ul>
    </div>
</div>

<div [ngSwitch]="menuChoice" class="admin-content">
    <a class="btn btn-secondary" (click)="chooseMode('add')" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Add Menu</a>
    <a class="btn btn-secondary" (click)="chooseMode('')" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">Manage Menu</a>
    <div *ngSwitchCase="'add'"><add-menu></add-menu></div>
    <div *ngSwitchCase="'addSub'"><add-menu parentId={{parentId}}></add-menu></div>
    <div *ngSwitchDefault>
        <div *ngIf = "formDisplay" class="row">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Enable</th>
                    <th>Order</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                <tr *ngFor="let menu of nav">
                    <td>{{menu.name}}</td>
                    <td>{{menu.enable}}</td>
                    <td>{{menu.order}}</td>
                    <!-- <td><a class="button" (click)="chooseMode('addSub', menu.id)">Add Sub Menu</a></td> -->
                    <td><button class="btn btn-link" (click)="editNav(menu)">Edit</button></td>
                    <td><button class="btn btn-link" (click)="deleteNav(menu)">Delete</button></td>
                </tr>
            </table>
            <!-- <div class="row" *ngFor="let menu of nav">
                <div class="row spacer">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="align-self-middle">
                                <h4>{{menu.name}}</h4>
                            </div>
                        </div>
                        <div class="media-object-section main-section">
                            <div class="button-group align-center">
                                <a class="button" (click)="editNav(menu)">Edit</a>
                                <a class="button alert" (click)="deleteNav(menu)">Delete</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->
            <div>
                <div *ngFor="let subMenu of subNav">
                    <h4>{{subMenu.name}}</h4>
                </div>
            </div>

        </div>

        <div *ngIf="!formDisplay">
            <form [formGroup]="editorForm">
                <div class="row">
                    <div class="medium-12 columns"><h3>Edit Menu</h3></div>
                </div>
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <label>Menu Name</label>
                            <input type="text" formControlName="name" 
                            [ngClass]="{'is-invalid': (editorForm.get('name').touched || editorForm.get('name').dirty) && !editorForm.get('name').valid }">
                            <span class="invalid-feedback">
                                Please enter name
                            </span>
                    </div>
                </div>        
                <div class="row">
                    <div class="small-12 columns">
                        <label>Menu Content
                            <quill-editor [style]="editorStyle" [modules]="modules" (onContentChanged)="maxLength($event)"
                            (onEditorCreated)="editorCreated($event)" formControlName="content"></quill-editor>
                            
                            <!-- <textarea rows="15" cols="100" formControlName="editContent" ></textarea> -->
                            <!-- <quill-editor></quill-editor> -->
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <label>Menu Order </label>
                            <input type="number" formControlName="order" 
                            [ngClass]="{'is-invalid': (editorForm.get('order').touched || editorForm.get('order').dirty) && !editorForm.get('order').valid }">
                            <span class="invalid-feedback">
                                Please enter order
                            </span>
                       
                    </div>
                    <div class="small-12 medium-6 columns">
                        <!-- <img [src] = "singleMenu.img" alt="Image preview..."> -->
                    </div>
                </div>
                <div class="row">
                        <div class="small-12 medium-6 columns">
                            <label>Menu Enable
                                    <input type="radio" formControlName="enable" value="true"> True
                                    <input type="radio" formControlName="enable" value="false"> False
                            </label>
                        </div>
                    </div>
                <div class="row align-center">
                    <div class="small-12 columns">
                        <div class="expanded button-group">
                            <button class="success button" type="button" [disabled]="!editorForm.valid"
                                (click)="updateMenu()">Update Menu</button>
                            <button class="cancel button" type="button" (click)="cancelEdit()">Cancel Edit</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>