<div class="site-inner">
  <div class="wrap">
    <main class="content">
      <div class="breadcrumb">
        You are here:
        <span class="breadcrumb-link-wrap"><a href="#"><span>{{currentMenu?.name}}</span></a></span>
        <span>/</span>
        {{currentSubMenu?.name}}
      </div>
      <article class="entry">
        <header class="entry-header">
          <h1 class="entry-title">{{currentSubMenu?.name}}</h1>
        </header>
        <div class="entry-content" [innerHTML]="sanitizer.bypassSecurityTrustHtml(currentMenu?.content || '')">
        </div>
        <div class="entry-content" [innerHTML]="sanitizer.bypassSecurityTrustHtml(currentSubMenu?.content || '')">
        </div>
      </article>
    </main>
    <side-bar></side-bar>
  </div>
</div>
